name: CI
on:
  push:
    branches:
      - master
      - main
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"
  workflow_dispatch:
jobs:
  debug:
    name: DEBUG
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js latest
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - run: which npm
      - run: npm root -g
  call_npm_package_build:
    uses: szikszail/workflows/.github/workflows/npm-package-build.yml@v1
    with:
      coverage_path: dist/reports/coverage/clover.xml
